.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.leftContainer {
}

.rightContainer {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;

  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(242, 242, 242);

  background-origin: padding-box;

  background-size: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px 0px;

  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: TTNormsPro-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 631px;
  line-height: 20px;
  padding-bottom: 41px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 45px;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: 486px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  h2 {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    font-family: TTNormsPro-Regular;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    height: 32px;
    letter-spacing: 0.25px;
    line-height: 32px;
    margin-block-end: 17px;
    margin-block-start: 0px;
    margin-bottom: 17px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 416px;
    -webkit-font-smoothing: antialiased;
  }

  p {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    font-family: TTNormsPro-Regular;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    height: 29px;
    letter-spacing: 0.25px;
    line-height: 29px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 416px;
    -webkit-font-smoothing: antialiased;
  }
}

.form-control {
  background-color: rgb(255, 255, 255);
  background-image: none;
  border-bottom-color: rgb(244, 244, 244);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(244, 244, 244);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(244, 244, 244);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(244, 244, 244);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgb(244, 244, 244) 1px 2px 2px 0px inset;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: text;
  display: block;
  font-family: TTNormsPro-Regular;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 33px;
  letter-spacing: normal;
  line-height: 22.8571px;
  margin-bottom: 34px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  width: 376px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}
